{% extends "base.html" %}
{% block title %}get_ticket_price_average{% endblock %}
{% block content %}
<h1>Средняя цена по аэропортам, не выше {{max_price}}</h1>
<table border="1" class="table table-striped">
    <thead>
    <tr>
        <th>departure_airport</th>
        <th>avg</th>
    </tr>
    </thead>
    {% for passenger in ticket_price_average %}
    <tr>
        <td>{{passenger.departure_airport}}</td>
        <td>{{passenger.avg}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
