<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты запросов</title>
</head>
<body>
<h1>Этап 2</h1>
<ul>
<li><a href="/get_passengers_with_info">get_passengers_with_info</a></li>
<li><a href="/get_routes_info">get_routes_info</a></li>
<li><a href="/get_flights_departure_times">get_flights_departure_times</a></li>
<li><a href="/get_cheap_routes">get_cheap_routes</a></li>
<li><a href="/get_destination_cities">get_destination_cities</a></li>
<li><a href="/get_routes_within_duration_interval">get_routes_within_duration_interval</a></li>
<li><a href="/get_pilots_that_start_with">get_pilots_that_start_with</a></li>
<li><a href="/get_passengers_with_address">get_passengers_with_address</a></li>
<li><a href="/get_cities_to_airports_count">get_cities_to_airports_count</a></li>
<li><a href="/get_ticket_price_average">get_ticket_price_average</a></li>
<li><a href="/get_passengers_with_payments">get_passengers_with_payments</a></li>
<li><a href="/get_pilots_to_flights_count">get_pilots_to_flights_count</a></li>
<li><a href="/get_people_on_plane">get_people_on_plane</a></li>

</ul>
</body>
</html>